<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>登录页面</title>
    <link rel="stylesheet" href="/static/css/login.css" />
</head>
<body>
<div class="login-container">
    <h2>登录</h2>
    <form id="loginForm" novalidate>
        <div class="form-group">
            <label for="username">账号</label>
            <input type="text" id="username" name="username" placeholder="请输入账号" required />
            <span class="error-message" id="usernameError"></span>
        </div>
        <div class="form-group">
            <label for="password">密码</label>
            <input type="password" id="password" name="password" placeholder="请输入密码" required />
            <span class="error-message" id="passwordError"></span>
        </div>
        <button type="submit">登录</button>
        <hr>
        <button id="registerBtn" type="button">注册</button>
    </form>
</div>
<script src="/static/js/login.js"></script>
</body>
</html>
<script>
    document.getElementById('registerBtn').addEventListener('click', function() {
        window.location.href = 'register';  // 跳转到 res.html 页面
    });
</script>
